@font-face {
  font-family: "Cooper Lt BT";
  src: url("/fonts/CooperLtBT.ttf") format("truetype");
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: #FAF9F7;
}

.signup-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 500px;
  max-width: 40vw;
}

.logo {
  width: 180px;
  height: auto;
  margin-bottom: 1rem;
}

.tagline {
  color: #000;
  font-family: "Cooper Lt BT";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 500px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
}

.form-group label {
  color: #000;
  font-family: "Cooper Lt BT";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.signup-card .form-group input {
  border-radius: 999px;
  border: 2px solid #6696D4;
  background: #FAF9F7 !important;
  padding: 0.5rem 1rem;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  font-family: "Cooper Lt BT";
}

.signup-card .form-group input::placeholder {
  font-family: "Cooper Lt BT";
  color: #666;
}

.signup-card button {
  width: 100%;
  padding: 0.5rem;
  border-radius: 20px;
  background: #B5D0F3 !important;
  border: none;
  color: #000;
  font-family: "Cooper Lt BT";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  margin-top: 0.5rem;
  height: 40px;
  transition: background-color 0.3s ease;
}

.signup-card button:hover {
  background: #8EB4EC !important;
}

.signup-link {
  margin-top: 1.5rem;
  text-align: center;
  width: 100%;
}

.signup-link span {
  color: #000;
  font-family: "Cooper Lt BT";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.signup-link a {
  color: #4370AA;
  font-family: "Cooper Lt BT";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  margin-left: 0.5rem;
}